@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
/* CSS like bootstrap */
.p-2 {
  padding: 0.5rem;
}

.p-5 {
  padding: 2rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.my-2 {
  margin: 0.5rem 0 0.5rem 0;
}

.mx-2 {
  margin: 0 0.5rem 0 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.text-center {
  text-align: center;
}

/* Components */
/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.btn {
  background: #901c1c;
  color: white;
  border: none;
  padding: 14px 12px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
}
.btn:hover {
  background: #D3573C;
  color: black;
}
.btn:focus {
  background: #D3573C;
  color: black;
}

.btnStickyTop {
  display: none;
  /*  display: block; */
  position: sticky;
  top: 0;
}
.btnStickyTop button {
  background: #D3573C;
  padding: 5px;
}

.btnLabel {
  background: none;
  border-radius: 20px;
  border: 1px solid #525252;
  padding: 2px 8px;
  color: #901c1c;
  font-size: 10px;
  margin: 3px;
  cursor: pointer;
}
.btnLabel:hover {
  background: #901c1c;
  color: white;
}
.btnLabel:focus {
  background: #901c1c;
  color: white;
}

.dropDown {
  position: relative;
}
.dropDown__btn {
  position: absolute;
  top: -18px;
  background: #901c1c;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
}
.dropDown__btn .fa-chevron-up {
  display: none;
}
.dropDown__btn:hover .fa-chevron-up {
  display: block;
}
.dropDown__btn:hover .fa-chevron-down {
  display: none;
}
.dropDown__btn-main {
  display: flex;
  padding: 14px 12px;
}
.dropDown__btn-content {
  display: none;
  padding: 5px;
}
.dropDown__btn-content .item {
  padding: 14px 12px;
  text-align: left;
  border-top: 1px solid white;
  cursor: pointer;
}
.dropDown__btn:hover .dropDown__btn-content {
  display: block;
}

.btnCloseModal {
  background: none;
  border: none;
}

/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.topBar {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
  /* height: 6vh; */
  /* background-color: aqua; */
}
.topBar__brand img {
  min-width: 120px;
  width: 10vw;
}
.topBar__items ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.topBar__items ul li {
  list-style: none;
}
.topBar__title {
  font-size: 14px;
}

@media screen and (max-width: 580px) {
  .topBar {
    padding: 0 10px;
  }
  .topBar__brand {
    margin-right: 30px;
  }
  .topBar__brand img {
    /*  width: 120px; */
  }
  .topBar__items {
    margin: 10px;
    order: 1;
  }
  .topBar__title {
    font-size: 10px;
  }
}
/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.photographer {
  width: 28vw;
  margin: 5px;
}
.photographer__header {
  text-align: center;
}
.photographer__header a {
  text-decoration: none;
}
.photographer__header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.photographer__header h2 {
  font-size: 25px;
  color: #D3573C;
}
.photographer__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.photographer__main .location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  color: #901c1c;
}
.photographer__main .location__city {
  margin-right: 5px;
}
.photographer__main .tagline {
  font-size: 10px;
}
.photographer__main .price {
  color: #525252;
  font-size: 8px;
}
.photographer__footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.photographer__footer a {
  text-decoration: none;
}

.hiddenPhotographer {
  display: none;
}

@media screen and (max-width: 580px) {
  .photographer {
    margin: 15px;
    width: 100%;
  }
}
/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.photographerBanner {
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  padding: 30px;
  margin-bottom: 5px;
}
.photographerBanner__info {
  /* background-color: blue; */
  min-height: 120px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.photographerBanner__info-name {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #D3573C;
}
.photographerBanner__info-country {
  font-size: 14px;
  color: #901c1c;
}
.photographerBanner__info-tagline {
  font-size: 10px;
  color: #525252;
}
.photographerBanner__info-labels {
  display: flex;
  flex-wrap: wrap;
}
.photographerBanner__img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.photographerBanner__img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 580px) {
  .photographerBanner {
    background: none;
  }
  .photographerBanner__info-name {
    font-size: 15px;
  }
  .photographerBanner__info-name button {
    display: none;
  }
  .photographerBanner__img img {
    height: 80px;
    width: 80px;
  }

  .photographerBanner__info-name button {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px 8px;
  }
}
/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.media {
  width: 28vw;
  min-width: 280px;
}
.media img {
  cursor: pointer;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
}
.media__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
}
.media__info-info {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
}

@media screen and (max-width: 580px) {
  .media {
    margin: 0 15px;
  }
  .media__img {
    width: 100%;
    max-height: 250px;
  }
  .media__img img {
    width: 100%;
    max-height: 250px;
  }
}
/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.bgGround {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(236, 236, 236, 0.4);
}
.bgGround .modal {
  position: absolute;
  z-index: 6;
  border-radius: 4px;
  min-width: 300px;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bgGround .modal__close {
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.bgGround .modal .contact {
  color: white;
}
.bgGround .modal .medias {
  color: #901c1c;
}
.bgGround .modal__content-form {
  padding: 20px;
  background: #D3573C;
}
.bgGround .modal__content-form h2 {
  font-size: 30px;
}
.bgGround .modal__content-form .formContact__item {
  display: flex;
  flex-direction: column;
}
.bgGround .modal__content-form .formContact__item label {
  font-size: 20px;
}
.bgGround .modal__content-form .formContact__item input {
  height: 35px;
  border-radius: 4px;
  border: none;
}
.bgGround .modal__content-form .formContact__item textarea {
  border-radius: 4px;
  border: none;
}
.bgGround .modal__content-form .formContact__btn button {
  padding: 14px 18px;
}
.bgGround .modal__content-media {
  padding: 20px;
  background: white;
}
.bgGround .modal__content-media .carouselMedias {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bgGround .modal__content-media .carouselMedias__chevron {
  color: #901c1c;
  font-size: 25px;
  cursor: pointer;
  margin: 20px;
}
.bgGround .modal__content-media .carouselMedias__medias img {
  min-width: 200px;
  width: 30vw;
  height: 300px;
  object-fit: cover;
}
.bgGround .modal__content-media .carouselMedias__medias .carouselMedias__item {
  display: none;
}
.bgGround .modal__content-media .carouselMedias__medias .active {
  display: block;
  animation: fade 0.8s;
}
.bgGround .modal__content-media .carouselMedias__name {
  color: #901c1c;
  font-size: 12px;
  margin: 2px 0 2px 0;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Pages */
/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.photographers {
  padding: 40px;
  min-height: 93vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /*    background: chartreuse; */
}

/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.containerPhotographerSelected {
  padding: 0 40px;
  min-height: 94vh;
}
.containerPhotographerSelected__brand {
  margin: 10px 0;
}
.containerPhotographerSelected__brand img {
  width: 180px;
}
.containerPhotographerSelected__sort {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.containerPhotographerSelected__imgs {
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stickyBanner {
  position: sticky;
  float: right;
  bottom: 0;
  margin-right: 20px;
  display: flex;
  align-items: center;
  background-color: #D3573C;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.stickyBanner__like {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.stickyBanner__price {
  display: flex;
}

.stickyBtn {
  position: sticky;
  bottom: 10px;
  text-align: center;
}
.stickyBtn button {
  padding: 5px 14px;
}

@media screen and (min-width: 580px) {
  .stickyBtn {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .containerPhotographerSelected {
    padding: 0;
  }
  .containerPhotographerSelected__brand {
    margin: 30px 0px 0px 30px;
  }
  .containerPhotographerSelected__sort {
    display: none;
  }
  .containerPhotographerSelected__imgs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stickyBanner {
    display: none;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
