@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
/* CSS like bootstrap */
.p-2 {
  padding: 0.5rem;
}

.p-5 {
  padding: 2rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.my-2 {
  margin: 0.5rem 0 0.5rem 0;
}

.mx-2 {
  margin: 0 0.5rem 0 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.text-center {
  text-align: center;
}

/* Components */
/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.btn {
  background: #901c1c;
  color: white;
  border: none;
  padding: 14px 12px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
}
.btn:hover {
  background: #D3573C;
  color: black;
}
.btn:focus {
  background: #D3573C;
  color: black;
}

.btnStickyTop {
  display: block;
  position: sticky;
  top: 0;
}
.btnStickyTop button {
  background: #D3573C;
  padding: 5px;
}

.btnLabel {
  background: none;
  border-radius: 20px;
  border: 1px solid #525252;
  padding: 2px 8px;
  color: #901c1c;
  font-size: 10px;
  margin: 3px;
  cursor: pointer;
}
.btnLabel:hover {
  background: #901c1c;
  color: white;
}
.btnLabel:focus {
  background: #901c1c;
  color: white;
}

.dropDown {
  position: relative;
  z-index: 99;
}
.dropDown__btn {
  background: #901c1c;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
}
.dropDown__btn-main {
  display: flex;
  padding: 14px 12px;
}
.dropDown__btn-content {
  display: none;
  padding: 5px;
}
.dropDown__btn-content .item {
  padding: 14px 12px;
  text-align: left;
  border-top: 1px solid white;
  cursor: pointer;
}
.dropDown__btn:hover .dropDown__btn-content {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropbtn:hover, .dropdown .dropbtn:focus {
  background-color: #D3573C;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  background: #901c1c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.topBar {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
  height: 5vh;
}
.topBar__items ul {
  display: flex;
}
.topBar__items ul li {
  list-style: none;
}
@media screen and (max-width: 580px) {
  .topBar {
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
  }
  .topBar__brand {
    margin-right: 30px;
  }
  .topBar__items {
    margin: 10px;
    order: 1;
  }
  .topBar__title {
    font-size: 12px;
  }
}
/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.photographer {
  /* background: chocolate; */
  width: 28vw;
  margin: 5px;
}
.photographer .link {
  text-decoration: none;
}
.photographer__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.photographer__img img {
  width: auto;
  height: 120px;
  border-radius: 50%;
  border: 1px solid black;
}
.photographer__info {
  /*    background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}
.photographer__info-name {
  /*   background-color: red; */
  font-size: 25px;
  color: #D3573C;
}
.photographer__info-country {
  font-size: 12px;
  color: #901c1c;
}
.photographer__info-tagline {
  font-size: 10px;
}
.photographer__info-price {
  color: #525252;
  font-size: 8px;
}
.photographer__info-labels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 580px) {
  .photographer {
    margin: 15px;
    width: 100%;
  }
}
/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.photographerBanner {
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  padding: 30px;
}
.photographerBanner__info {
  /* background-color: blue; */
  min-height: 120px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.photographerBanner__info-name {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #D3573C;
}
.photographerBanner__info-country {
  font-size: 14px;
  color: #901c1c;
}
.photographerBanner__info-tagline {
  font-size: 10px;
  color: #525252;
}
.photographerBanner__info-labels {
  display: flex;
  flex-wrap: wrap;
}
.photographerBanner__img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.photographerBanner__img img {
  width: auto;
  height: 80px;
  border-radius: 50%;
  border: 1px solid black;
}

@media screen and (max-width: 580px) {
  .photographerBanner {
    background: none;
  }
  .photographerBanner__info-name button {
    display: none;
  }

  .photographerBanner__info-name button {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px 8px;
  }
}
/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.picture__img img {
  width: 28vw;
  border-radius: 4px;
}
.picture__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
}
.picture__info-info {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 580px) {
  .picture {
    margin: 0 15px;
  }
  .picture__img {
    width: 100%;
    max-height: 250px;
  }
  .picture__img img {
    width: 100%;
    max-height: 250px;
  }
}
/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.bgGround {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(236, 236, 236, 0.4);
}
.bgGround .modal {
  background-color: chocolate;
  position: relative;
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  height: 50%;
  width: 50%;
  overflow: auto;
  margin: 5% auto;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

/* Pages */
/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.photographers {
  padding: 40px;
  min-height: 94vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* COLORS */
/* POLICE */
/* BTN */
/* BTN LABEL */
/* BREAKPOINT */
.containerPhotographerSelected {
  padding: 0 40px;
  min-height: 94vh;
}
.containerPhotographerSelected__brand {
  margin: 10px 0;
}
.containerPhotographerSelected__sort {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.containerPhotographerSelected__imgs {
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stickyBanner {
  position: sticky;
  float: right;
  bottom: 0;
  margin-right: 20px;
  display: flex;
  align-items: center;
  background-color: #D3573C;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.stickyBanner__like {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.stickyBanner__price {
  display: flex;
}

.stickyBtn {
  position: sticky;
  bottom: 10px;
  text-align: center;
}
.stickyBtn button {
  padding: 5px 14px;
}

@media screen and (min-width: 580px) {
  .stickyBtn {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .containerPhotographerSelected {
    padding: 0;
  }
  .containerPhotographerSelected__brand {
    margin: 30px 0px 0px 30px;
  }
  .containerPhotographerSelected__sort {
    display: none;
  }
  .containerPhotographerSelected__imgs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stickyBanner {
    display: none;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
