@import "../utils/variables";

.btn {
  background: $primary;
  color: white;
  border: none;
  padding: 14px 12px;
  border-radius: $borderRadiusBtn;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
  &:hover {
    background: $secondary;
    color: black;
  }
  &:focus {
    background: $secondary;
    color: black;
  }
}
.btnStickyTop {
  //TODO - JS: display when scroll
  display: none;
  /*  display: block; */
  position: sticky;
  top: 0;
  button {
    background: $secondary;
    padding: 5px;
  }
}
.btnLabel {
  background: none;
  border-radius: $borderRadiusBtnLabel;
  border: 1px solid $tertiary;
  padding: 2px 8px;
  color: $primary;
  font-size: 10px;
  margin: 3px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $primary;
    background: none;
  }
  &:hover {
    a {
      color: white;
    }
    background: $primary;
    color: white;
  }
  &:focus {
    a {
      color: white;
    }
    background: $primary;
    color: white;
  }
}

.dropDown {
  position: relative;
  &__btn {
    position: absolute;
    top: -18px;
    background: $primary;
    color: white;
    border: none;
    border-radius: $borderRadiusBtn;
    font-weight: 600;
    cursor: pointer;
    font-size: 12px;
    .fa-chevron-up {
      display: none;
    }
    &:hover {
      .fa-chevron-up {
        display: block;
      }
      .fa-chevron-down {
        display: none;
      }
    }
    &-main {
      display: flex;
      padding: 14px 12px;
    }
    &-content {
      display: none;
      padding: 5px;
      .item {
        padding: 14px 12px;
        text-align: left;
        border-top: 1px solid white;
        cursor: pointer;
      }
    }
    &:hover {
      .dropDown__btn-content {
        display: block;
      }
    }
  }
}


