@import "../utils/variables";

.btn {
  background: $primary;
  color: white;
  border: none;
  padding: 14px 12px;
  border-radius: $borderRadiusBtn;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
  &:hover {
    background: $secondary;
    color: black;
  }
  &:focus {
    background: $secondary;
    color: black;
  }
}
.btnStickyTop {
  //TODO - JS: display when scroll
  display: none;
  /*  display: block; */
  position: sticky;
  top: 0;
  button {
    background: $secondary;
    padding: 5px;
  }
}
.btnLabel {
  background: none;
  border-radius: $borderRadiusBtnLabel;
  border: 1px solid $tertiary;
  padding: 2px 8px;
  color: $primary;
  font-size: 10px;
  margin: 3px;
  cursor: pointer;
  &:hover {
    background: $primary;
    color: white;
  }
  &:focus {
    background: $primary;
    color: white;
  }
} 
.btnCloseModal{
  background: none;
  border: none;
}


  .btnDrop{
    background: $primary;
    color: white;
    border: none;
    padding: 14px 12px;
    font-weight: 600;
    cursor: pointer;
    font-size: 12px;

    &:hover{
      background: $secondary;
      color: black;
      border-radius: 0;
      border-top-left-radius: $borderRadiusBtn;
      border-top-right-radius: $borderRadiusBtn;
    }
    &:focus{
      background: $secondary;
      color: black;
    }
  }       
  .drop{
      .pop{
        display: flex;
        .fa-chevron-up{
          display: none;
        }
        &:hover{
          .fa-chevron-down{
            display: none;
          }
          .fa-chevron-up{
            display: block;
          }
        }
        &:focus{
          .fa-chevron-down{
            display: none;
          }
          .fa-chevron-up{
            display: block; 
          }
          .drop__content{
            display: block;
          }
         
        }
       
      }
      &:hover{
        .drop__content{
            display: block;
        }
      }
      &:focus{
        .drop__content{
          display: block;
      }
      }
      .drop__content{
        display: none;
      }
      .drop__content-btn{
        display: flex;
        flex-direction: column;
      }
    }
    



.pop{
  &:hover{
    border-radius: 0;
    border-top-left-radius: $borderRadiusBtn;
    border-top-right-radius: $borderRadiusBtn;
    .name{
      border-bottom-left-radius: $borderRadiusBtn;
      border-bottom-right-radius: $borderRadiusBtn;
    }
  }

}