@import "../utils/variables";

.bgGround{
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(236, 236, 236, 0.4);
    .modal{
        background-color: chocolate;
        position: relative;
        position: absolute;
        z-index: 4;
        left: 0;
        top: 0;
        height: 50%;
        width: 50%;
        overflow: auto;
        margin: 5% auto;
        max-width: 500px;
        animation-name: modalopen;
        animation-duration: var(--modal-duration);
        background: #232323;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        color: #fff;
        padding-top: 10px;
    }
}
