@import "../utils/variables";

.picture {
  &__img {
    img {
      width: 28vw;
      border-radius: 4px;
    }
  }
  &__info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $primary;
      &-info{
        margin: 10px 0;
          display: flex;
          justify-content: space-between;
      }
  }
}
@media screen and (max-width: $breakPointMobile) {
  .picture{
    margin: 0 15px;
    &__img{
      width: 100%;
      max-height: 250px;
      img{
        width: 100%;
        max-height: 250px;
      }
    }
  }
}