@import "../utils/variables";

.topBar {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: $primary;
  height: 5vh;
  &__brand {
    
  }
  &__items {
    ul{
        display: flex;
        li{
            list-style: none;
        }
    }
  }
  &__title {
  }
}
@media screen and (max-width: $breakPointMobile) {
  .topBar {
      /* background-color: rebeccapurple; */
      display: flex;
      justify-content: center;
      &__brand{
          margin-right: 30px;
      }
      &__items{
          margin: 10px;
          order: 1;
      }
      &__title{
          
          font-size: 12px;
      }
      
  }
}
