@import "../utils/variables";

.topBar {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: $primary;
  /* height: 6vh; */
  /* background-color: aqua; */
  &__brand {
    img{
      min-width: 120px;
      width: 10vw;
    }
   
  }
  &__items {
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        li{
            list-style: none;
        }
    }
  }
  &__title {
    font-size: 14px;
  }
}
@media screen and (max-width: $breakPointMobile) {
  .topBar {
    padding: 0 10px;
      &__brand{
          margin-right: 30px;
          img{
           /*  width: 120px; */
          }
      }
      &__items{
          margin: 10px;
          order: 1;
      }
      &__title{
          
          font-size: 10px;
      }
      
  }
}
