@import '../utils/variables';

nav{
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:$primary;
    ul{
        display: flex;
        li{
            text-decoration: none;
            list-style: none;
            margin: 5px;
        }
    }

}