@import '../utils/variables';

.containerPhotographerSelected{
    padding: 40px;
    min-height: 94vh;
    &__sort{
        padding: 10px;
        display: flex;
        align-items: center;
    }
    &__imgs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: $breakPointMobile) {
    .containerPhotographerSelected__imgs{
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
  }