@import '../base/police.scss';
/* COLORS */
$primary: #901c1c;
$secondary: #D3573C;
$tertiary: #525252;
/* POLICE */
$police: 'Roboto', sans-serif;
/* BTN */
$borderRadiusBtn: 4px;
/* BTN LABEL */
$borderRadiusBtnLabel: 20px;
/* BREAKPOINT */
$breakPointMobile: 580px;